:root{
    --blue-primary: #0A2640;
    --blue-secund: #1C3D5B;
    --gree-primary: #69E6A6;
    --white-primary: #fff;
    --gray-primary: #777777;
    --black-primary: #000;
    --gray-light: #F1F1F1;
}

a {
    text-decoration: none;
    font-size: 16px;
    color: black;
}

li {
    list-style: none;
}
